[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/absy92
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/absy92
	label-Verified = -1..+1 group user/absy92
	push = group user/absy92
	read = group user/absy92
	rebase = group user/absy92
	removeReviewer = group user/absy92
	submit = group user/absy92
[access "refs/heads/*"]
	create = group user/absy92
	push = +force group user/absy92
	pushMerge = group user/absy92
	read = group user/absy92
[access "refs/tags/*"]
	push = group user/absy92
	push = +force group user/absy92
